<div class="row search-list" ng-controller="listSearchController">

  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a class="active">buscas</a></li>
    </ul>
  </div>

  <div class="col-md-12">
   
    <ng-include src="'views/shared/_pagination.html'" ></ng-include>
    <div class="input-group">
      <input type="text" class="form-control" ng-model="search">

      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="list({q: search})" type="button">
           buscar
        </button>
      </span>
    </div><!-- /input-group -->
    <br/>
    <table>
      <thead>
        <tr>
          <th>data</th>

          <th>user agent</th>
          <th>bot</th>
          <th>referer</th>
          <th>user_id</th>
          <th>Busca</th>
          <th>pagina</th>
          <th>Encontrado</th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="search in searchs">
          <td><small>{{search.created_at | date : 'short' }}</small></td>
          <td><small>{{search.user_agent}}</small></td>
          <td><small>{{search.is_bot}}</small></td>
          <td><small>{{search.referer}}</small></td>
          <td><small>{{search.user_id}}</small></td>
          <td><small>{{search.query}}</small></td>
          <td><small>{{search.page}}</small></td>
          <td><small>{{search.found}}</small></td>
          <td>
            <button class="rm-btn" ng-click="destroy(search)">excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>