<div class="row users-list">

  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a class="active">users</a></li>
    </ul>
  </div>

  <div class="col-md-12" ng-controller="listUsersController">
    
    <a class="add-btn" href="#!usuarios/novo">novo</a>

    <table class="table table-striped table-hover">
      <tr>
        <th><input type="checkbox" ></th>
        <th>#</th>
        <th>Usuário</th>
        <th>papel</th>
        <th>exercicios</th>
        <th>a pagar</th>
        <th></th>
      </tr>
      <tr ng-repeat="user in users">
        <td></td>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.role_name }}</td>
        <td>{{ user.exercises.count }}</td>
        <td></td>
        <td>
          <a class="select-btn" href="#!usuarios/{{user.id}}">
            editar
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>