<div class="row system-process" ng-controller="publishController">
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a class="active">publicações</a></li>
    </ul>
  </div>
  <div class="col-lg-12">
    <p>republicar</p>
    <button ng-click="publishExercises()" class="process-btn">
      exercícios
    </button>
    <button ng-click="publishTags()" class="process-btn">
      tags
    </button>
    <button ng-click="publishUsers()" class="process-btn">
      usuários
    </button>    
  </div>
</div>