<div class="row products-edit" ng-controller="editProductController" ng-init="loadFromRouteParams()">
  
  <div class="col-md-12">
    <ul class="breadcrumb">
      <li><a href="#!products">products</a></li>
      <li><a class="active">editar {{product.id}}</a></li>
    </ul>
  </div>

  <div class="col-md-12">
    <form ng-if="product">
      <ng-include src="'views/products/_form.html'" ></ng-include>
      <br>
      <button class="save-btn" ng-click="update()">
        salvar
      </button>
    </form>
  </div>
</div>